<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %> <!--Rails 3 syntax-->
      <%= render 'shared/error_messages', object: f.object%> <!--app/views/shared/_error_messages.html.erb-->
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "First and last name", autocomplete: "off" %>

      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "example@apple.com", autocomplete: "off", type: "email" %>

      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "at least 6 digits" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, "required aria-required" => "true" %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

</div>